streamlit>=1.35.0
opencv-python-headless==4.8.1.78
ultralytics==8.3.0
torch>=2.1.0
torchaudio>=2.1.0
torchvision>=0.16.0
speechrecognition==3.10.0
streamlit-option-menu==0.3.6
# Remove pyaudio to avoid compile errors
# Remove streamlit-webrtc / av if live webcam not required
numpy>=1.23.5
Pillow>=9.5.0

