streamlit>=1.35.0
opencv-python-headless==4.7.0.72
ultralytics==8.3.0
torch>=2.1.0
torchaudio>=2.1.0
torchvision>=0.16.0
speechrecognition==3.10.0
pyaudio==0.2.14
streamlit-option-menu==0.3.6
streamlit-webrtc==0.47.7
av==10.0.0
numpy>=1.23.5
Pillow>=9.5.0
